@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.equipment02 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
      margin-bottom: 30px;
      &.pt50{
        padding-top: 50px;
      }
    }
    .caps {
      font-size: 12px;
      line-height: 1.2;
    }
  } //sections
  .sec01 {
    margin-top: 40px;
    .lists {
      &.list01 {
        margin-bottom: 60px;
      }
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.half{
          width: 48%;
          &.mr0{
            margin-right: 0;
          }
        }
        &.double {
          width: 66%;
        }
        &.full {
          width: 100%;
          margin-bottom: 60px;
        }
      }
      li:last-child {
        margin-right: auto;
      }
      li:nth-child(3n){
        margin-right: auto;
      }
    }
    .list00 {
      .text {
        width: 70%;
        float: left;
      }
      .image {
        width: 25%;
        float: right;
        &.full{
          width: 100%;
        }
      }
      .image01 {
        width: 55%;
        float: right;
        .tit-img span{
          padding-bottom: 0;
          border-bottom: none;
        }
        .img01{
          float: left;
          width: 51%;
          margin-right: 2%;
        }
        .img02{
          float: left;
          width: 45%;
        }
      }
      .text01 {
        width: 40%;
        float: left;
        .text01 {
          font-size: 14px;
        }
      }
    }
    .list02 {
      margin-bottom: 60px;
    }
  } //sec01

  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .lead {
        span {
          font-size: 13px;
        }
      }
      .text01 {
        font-size: 13px;
        line-height: 1.2;
      }
      .text {
        font-size: 17px;
      }
      .caps {
        font-size: 13px;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          &.half{
            width: 100%;
            .lead {
              margin-bottom: 30px;
            }
          }
          &.full {
            width: 100%;
            margin-bottom: 40px;
          }
        }
      }
      .list00 {
        .text{
          width: 100%;
        }
        .text01 {
          width: 100%;
          float: none;
        }
        .image{
          width: 100%;
          img{
            width: 40%;
            margin: auto;
          }
          &.full img{
            width: 100%;
          }
        }
        .image01 {
          width: 100%;
          float: none;
          .img01,.img02{
          width: 100%;
          float: none;
          }
          .img01{
           margin-bottom: 30px;
          }
        }
      }
      .list03 {
        margin-bottom: 40px;
        li.double .image {
          display: block;
          width: 60%;
          margin: 0 auto 30px;
          &.img-sub {
            width: 100%;
            margin-left: 0;
            margin-bottom: 40px;
          }
          &.pc {
            display: none;
          }
          &.tb {
            display: block;
          }
        }
        li.double {
          margin-bottom: 80px;
        }
      }
      .list04 {
        margin-bottom: 0;
        li .image {
          width: 100%;
          margin-bottom: 30px;
          &.img02 {
            width: 100%;
          }
        }
      }
    } //sec01
    main {
      padding-bottom: 50px;
    }
    .sec01 .list08 {
      li:first-child {
        .image {
          display: block;
          width: 70%;
          margin: 0 auto 20px;
          &.img-sub {
            width: 100%;
            margin-left: 0;
            margin-bottom: 60px;
          }
          &.pc{
            display: none;
          }
        }
      }
    }
  } //sp
}
