@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.equipment01 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      &.img-sub {
        width: 60%;
        margin-bottom: 0;
      }
    }
    .tit {
      font-size: 1.8rem;
      letter-spacing: 0.12em;
      color: #fff;
      background: #1D2A56;
      margin-bottom: 30px;
      padding: 10px;
    }
    .lead {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 10px;
      span {
        display: block;
        font-size: 11px;
        line-height: 1.6;
        margin-top: 5px;
      }
    }
    .text {
      font-size: 19px;
      line-height: 1.6;
    }
    .caps {
      font-size: 12px;
      line-height: 1.2;
    }
  } //sections
  .sec01 {
    margin-top: 40px;
    .lists {
      margin-bottom:30px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;

      }
      li:nth-child(3n),li:last-child {
        margin-right: auto;
      }
      &.list03 li:nth-child(6){
        .image{
          margin-bottom: 0;
          &.img-sub{
            margin-bottom: 30px;
          }
        }
      }
    }
  } //sec01
  .sec02 {
    margin-bottom: 60px;
    .lists {
      margin-bottom: 60px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.full {
          width: 100%;
          margin-bottom: 0;
        }
        &.double{
          width: 64%;
        }
      }
      li:nth-child(3n) {
        margin-right: auto;
      }
      li:last-child {
        margin-right: auto;
      }
    }
    .list03-01{
      li{
        width: 100%;
        margin-bottom: 60px;
      }
    }
  } //sec02

  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .tit {
        font-size: 2.2rem;
        margin-bottom: 30px;
        &:before,
        &:after {
          content: none;
        }
      }
      .lead {
        span {
          font-size: 13px;
        }
      }
      .text {
        font-size: 17px;
      }
      .caps {
        font-size: 13px;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
        }
      }
      .list01 {
        margin-bottom: 0;
      }
      .list03 {
        margin: auto;
        .img-sub {
          width: 70%;
          margin: 0;
        }
      }
    } //sec01
    .sec02 {
      margin-bottom: 20px;
      .lists {
        margin-bottom: 0;
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
        }
        li.double{
          width: 100%;
        }
      }
    } //sec02
    main {
      padding-bottom: 50px;
    }
  } //sp
}
