@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

.location02 {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }
  .location-link {
    color: #000;
  }
  main {
    color: #3e3a39;
    font-family: "RyuminPro", serif;
    line-height: 1;
    background: url(../images/common/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  sup {
    font-size: 10px;
    vertical-align: super;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }

  .main-visual {
    position: relative;
    border: none;
    margin-bottom: 100px;
    .caps {
      text-align: right;
      margin: 10px 10px 0 0;
      font-size: 11px;
    }
  }
  .sections {
    .tit-img {
      max-width: 500px;
      margin: 0 auto 40px;
    }
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48.5%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32%;
        margin-right: 1%;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
    .caps {
      text-align: right;
      font-size: 10px;
      line-height: 1.4;
      margin-top: 10px;
    }
  } //sections
  .intro {
    text-align: center;
    position: relative;
    z-index: 1;
    .inner {
      max-width: 1200px;
    }
    .tit {
      font-size: 34px;
      line-height: 2;
      letter-spacing: 0.12em;
      margin-bottom: 30px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 60px;
    }
    .images {
      position: relative;
    }
    .img02 {
      max-width: 480px;
      width: 40%;
      position: absolute;
      bottom: 7%;
      right: -3%;
      .annotation {
        bottom: 8%;
      }
    }
    .bg {
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      padding: 10px;
      box-sizing: border-box;
      margin: 40px auto 100px;
    }
    .box {
      border: 1px solid #231815;
      padding: 60px 30px;
      box-sizing: border-box;
    }
    .lists {
      text-align: left;
      margin-bottom: 40px;
    }
    .lists li {
      display: inline-block;
      vertical-align: top;
      width: 52%;
      margin-right: 2%;
    }
    .lists li:last-child {
      width: 44%;
      margin-right: auto;
    }
    .list02 li {
      width: 44%;
      margin-right: 2%;
    }
    .list02 li:last-child {
      width: 52%;
      margin-right: auto;
    }
    .list03 li {
      width: 58%;
      margin-right: 2%;
    }
    .list03 li:last-child {
      width: 22%;
      margin-right: auto;
    }
    .list04 {
      margin: auto;
    }
    .list04 li {
      width: 41%;
      margin-right: 2%;
    }
    .list04 li:last-child {
      width: 56%;
      margin-right: auto;
    }
    .name {
      font-size: 32px;
      color: #bf9d6d;
      padding-bottom: 4px;
      margin-bottom: 10px;
      border-bottom: 1px solid #333;
    }
    .purpose {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 6px;
    }
    .schedule {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 6px;
    }
    .info {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 10px;
    }
    .mini {
      font-size: 12px;
      line-height: 1.5;
    }
  } //intro
  .shops {
    text-align: center;
    margin-bottom: 120px;
    .column02 {
      text-align: left;
      .txt01 {
        font-size: 24px;
        background: rgba(167, 220, 247, 0.4);
        padding: 10px 0 10px 10px;
        margin-bottom: 20px;
        &.color {
          background: rgba(254, 230, 125, 0.3);
        }
      }
      .txt02 {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 20px;
      }
    }
    .column02.list01 {
      margin-bottom: 60px;
      .logo {
        margin-bottom: 10px;
      }
      li {
        width: 55%;
      }
      li:last-child {
        width: 42%;
      }
      .bottom {
        margin-bottom: 10px;
      }
    }
    .column02.list02 {
      margin-bottom: 40px;
      padding-bottom: 50px;
      border-bottom: 1px solid;
      .logo {
        width: 50%;
        margin: 0 0 20px;
      }
      li {
        width: 42%;
      }
      li:last-child {
        width: 55%;
      }
      .bottom {
        margin-bottom: 10px;
      }
    }
    .column02.list03 {
      margin-bottom: 50px;
      padding-bottom: 40px;
      border-bottom: 1px solid;
      .logo {
        width: 23%;
        margin: 0 0 20px auto;
      }
      li {
        width: 52%;
      }
      li:last-child {
        width: 45%;
      }
      .bottom {
        margin-bottom: 10px;
      }
      .annotation {
        bottom: -10px;
      }
    }
    .shops04 {
      .text {
        text-align: right;
        font-size: 30px;
        line-height: 1.6;
        letter-spacing: 0.12em;
        margin-bottom: 20px;
        color: #002d43;
        .logo {
          width: 12%;
        }
      }
      .blue-bg {
        background: rgba(184, 226, 244, 0.3);
        padding: 20px 30px;
        box-sizing: border-box;
        .lead {
          text-align: left;
          font-size: 16px;
          line-height: 2;
          margin-bottom: 20px;
        }
        .caps {
          text-align: left;
        }
      }
    } //shops04
  } //shops
  .convenience {
    text-align: center;
    margin-bottom: 140px;
    .img01 {
      .annotation {
        bottom: 30%;
      }
    }
    .texts {
      position: relative;
      z-index: 1;
      margin-top: -200px;
    }
    .tit {
      font-size: 34px;
      letter-spacing: 0.12em;
      margin-bottom: 40px;
      color: #002d43;
    }
    .lead {
      font-size: 16px;
      line-height: 2;
      margin-bottom: 60px;
    }
    .column02 {
      .name {
        float: left;
        text-align: left;
        font-size: 30px;
        padding-top: 40px;
      }
      .min {
        float: right;
        font-size: 40px;
        color: #ea5514;
        span {
          font-size: 80px;
        }
      }
      .distance {
        clear: both;
        text-align: right;
        font-size: 10px;
      }
      .txt01 {
        text-align: left;
        font-size: 24px;
        line-height: 2;
        padding: 20px 0;
        margin: 20px 0;
        color: #2f5160;
        border-top: 1px solid;
        border-bottom: 1px solid;
      }
      .txt02 {
        text-align: left;
        font-size: 16px;
        line-height: 2;
      }
      .txt03 {
        clear: both;
        text-align: left;
        font-size: 16px;
        line-height: 2;
        padding-top: 20px;
        border-top: 1px solid;
      }
    }
    .column02.list01 {
      li {
        width: 54%;
      }
      li:last-child {
        width: 43%;
      }
    }
    .column02.list02 {
      margin-top: 60px;
      li {
        width: 43%;
      }
      li:last-child {
        width: 54%;
      }
      .name {
        float: left;
        text-align: left;
        font-size: 30px;
        line-height: 1.4;
        padding-top: 0;
      }
    }
    .column02.list03 {
      margin: 20px auto 60px;
      li {
        vertical-align: middle;
        width: 43%;
      }
      li:last-child {
        width: 54%;
      }
      .name {
        float: left;
        text-align: left;
        font-size: 30px;
        line-height: 1.4;
        padding-top: 0;
        padding-bottom: 10px;
      }
    }
  } //convenience
  .gourmet {
    text-align: center;
    margin-bottom: 140px;
    .en {
      font-size: 38px;
      letter-spacing: 0.2em;
      margin-bottom: 50px;
      color: #2c4a5f;
    }
    .tit {
      font-size: 34px;
      line-height: 2;
      letter-spacing: 0.12em;
      margin-bottom: 30px;
      color: #002d43;
    }
    .column02 {
      li {
        text-align: left;
        float: left;
        margin-bottom: 60px;
      }
      li:nth-child(2n) {
        float: right;
      }
      .genre {
        font-size: 14px;
        margin: 20px 0 10px;
      }
      .name {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid;
        letter-spacing: 0.08em;
        span {
          font-size: 14px;
        }
      }
      .info {
        font-size: 16px;
        line-height: 1.8;
      }
    }
  } //gourmet
  .child {
    text-align: center;
    margin-bottom: 100px;
    .bg {
      background: rgba(235, 236, 224, 0.6);
    }
    .content {
      padding: 50px 50px 0;
      box-sizing: border-box;
      .tit {
        font-size: 34px;
        line-height: 1.8;
        letter-spacing: 0.12em;
        margin-bottom: 30px;
        color: #002d43;
      }
      .lead {
        font-size: 18px;
        line-height: 2;
        margin-bottom: 40px;
      }
    }
    .box {
      background: #fff;
      border-bottom: 10px solid #f9f5c3;
      .column02 {
        width: 90%;
        margin: 30px auto;
      }
      .txt01 {
        font-size: 30px;
        line-height: 1.6;
        background: #f9f5c3;
        padding: 10px 0;
      }
      .txt02 {
        text-align: left;
        font-size: 24px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: #7a6a56;
      }
      .txt03 {
        text-align: left;
        font-size: 18px;
        line-height: 2;
        color: #7a6a56;
      }
      .txt04 {
        width: 90%;
        margin: 0 auto 30px;
        background: #94856d;
        padding: 10px;
        box-sizing: border-box;
        color: #fff;
        font-size: 20px;
        line-height: 1.6;
      }
      .column02 {
        li {
          width: 57%;
        }
        li:last-child {
          width: 40%;
        }
      }
    }
    .column02.list {
      margin-top: 60px;
      li {
        width: 46.5%;
        margin-right: 6%;
      }
      li:nth-child(2n) {
        margin-right: auto;
      }
      .name {
        font-size: 18px;
        line-height: 1.6;
        margin: 10px 0 40px;
        span {
          font-size: 12px;
        }
      }
    }
  } //child
  .park {
    text-align: center;
    margin-bottom: 140px;
    .tit {
      font-size: 34px;
      line-height: 1.8;
      letter-spacing: 0.12em;
      margin-bottom: 50px;
      color: #002d43;
    }
    .texts {
      max-width: 400px;
      margin: 0 auto 50px;
      .min {
        float: left;
        font-size: 18px;
        .garamond {
          font-size: 34px;
          color: #ea5514;
        }
        .num {
          font-size: 80px;
        }
      }
      .name {
        float: right;
        font-size: 30px;
        padding-top: 20px;
      }
    }
    .lead {
      text-align: left;
      font-size: 18px;
      line-height: 2;
      margin-bottom: 20px;
    }
    .column02 {
      li {
        width: 62.5%;
      }
      li:last-child {
        width: 34.5%;
      }
      .bottom {
        margin-bottom: 20px;
      }
    }
  } //park
  .life-info {
    text-align: center;
    margin-bottom: 100px;
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .tit {
      font-size: 30px;
      letter-spacing: 0.15em;
      color: #2c4a5f;
      margin-bottom: 50px;
    }
    .map {
      margin-bottom: 140px;
      .annotation {
        bottom: -10px;
      }
    }
    .tab-inner {
      display: none;
    }
    .tab-inner.current {
      display: inherit;
    }
    .change-buttons {
      text-align: center;
      margin: 0 auto 40px;
      color: #11374c;
      border-bottom: 1px solid;
      li {
        vertical-align: top;
        text-align: center;
        display: inline-block;
        width: 13%;
      }
      .button {
        position: relative;
        display: block;
        font-size: 10px;
        line-height: 1.3;
        padding: 15px 0;
        background: #11374c;
        color: #fff;
        box-sizing: border-box;
        .mini {
          font-size: 10px;
        }
      }
      .button.current {
        position: absolute;
        pointer-events: none;
        background: #fff;
        color: #11374c;
        border-top: 1px solid #11374c;
        border-left: 1px solid #11374c;
        border-right: 1px solid #11374c;
        box-sizing: border-box;
        width: 10.8%;
      }
      .button:hover {
        cursor: pointer;
        opacity: 1;
        background: #fff;
        color: #11374c;
        border-top: 1px solid #11374c;
        border-left: 1px solid #11374c;
        border-right: 1px solid #11374c;
      }
    } //change-buttons
    .list {
      margin: 30px auto;
      li {
        vertical-align: top;
        display: inline-block;
        width: 31%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
    }
    .image img {
      width: 100%;
    }
  } //life-info

  @media screen and (max-width: 1287px) {
  } //1287px

  @media screen and (max-width: 1024px) {
    .life-info {
      .change-buttons {
        text-align: center;
        margin: 20px auto;
        border: none;
        li {
          display: inline-block;
          width: 48%;
          margin-bottom: 10px;
        }
        .button {
          font-size: 12px;
          padding: 10px 0;
        }
        .button.current {
          position: inherit;
          pointer-events: none;
          background: #fff;
          color: #11374c;
          border: 1px solid #11374c;
          width: 100%;
        }
        .button:hover {
          border: 1px solid #11374c;
        }
      } //change-buttons
    }
  } //tb
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }
    main {
      background: none;
    }
    .main-visual {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .sections {
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column02
      .column03 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column03
    } //sections
    .intro {
      text-align: left;
      margin-bottom: 40px;
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .lead {
        text-align: left;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 20px;
      }
      .text {
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0;
        margin: 20px auto;
      }
      .lead01 {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 0;
      }
    } //intro

    .shops {
      margin-bottom: 60px;
      .column02 {
        text-align: left;
        .txt01 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .txt02 {
          font-size: 14px;
          line-height: 2;
          margin-bottom: 20px;
        }
      }
      .column02.list01 {
        margin-bottom: 40px;
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
          .image {
            display: inline-block;
            width: 49%;
          }
        }
      }
      .column02.list02 {
        margin-bottom: 40px;
        padding-bottom: 20px;
        .logo {
          width: 60%;
          margin: 0 0 10px;
        }
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
        .bottom {
          margin-bottom: 10px;
        }
        .imgs {
          margin-top: 20px;
          .image {
            display: inline-block;
            width: 49%;
          }
        }
      }
      .column02.list03 {
        margin-bottom: 40px;
        padding-bottom: 20px;
        .logo {
          margin: 0 0 10px auto;
        }
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
      }
      .shops04 {
        .text {
          text-align: left;
          font-size: 22px;
          .logo {
            float: right;
            text-align: right;
            width: 23%;
            margin-bottom: 10px;
          }
        }
        .blue-bg {
          .lead {
            font-size: 14px;
          }
          .caps {
            text-align: right;
          }
        }
      } //shops04
    } //shops
    .convenience {
      text-align: left;
      margin-bottom: 60px;
      .texts {
        margin-top: -40px;
      }
      .tit {
        font-size: 22px;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .lead {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 40px;
      }
      .column02 {
        .name {
          font-size: 24px;
          padding-top: 0;
        }
        .min {
          float: right;
          font-size: 30px;
          span {
            font-size: 60px;
          }
        }
        .distance {
          clear: both;
          text-align: right;
          font-size: 10px;
        }
        .txt01 {
          text-align: left;
          font-size: 18px;
          padding: 10px 0;
        }
        .txt02 {
          font-size: 14px;
          margin-bottom: 20px;
        }
        .txt03 {
          clear: both;
          text-align: left;
          font-size: 16px;
          line-height: 2;
          padding-top: 20px;
          border-top: 1px solid;
        }
      }
      .column02.list01 {
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
      }
      .column02.list02 {
        margin-top: 40px;
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
        .name {
          font-size: 24px;
        }
      }
      .column02.list03 {
        li {
          vertical-align: middle;
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
        .name {
          font-size: 24px;
        }
      }
    } //convenience
    .gourmet {
      text-align: left;
      margin-bottom: 60px;
      .en {
        font-size: 36px;
        margin-bottom: 20px;
      }
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .column02 {
        li {
          margin-bottom: 30px;
        }
        .genre {
          font-size: 12px;
          margin: 10px 0 10px;
        }
        .name {
          font-size: 20px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          span {
            font-size: 12px;
          }
        }
        .info {
          font-size: 16px;
        }
      }
    } //gourmet
    .child {
      text-align: left;
      margin-bottom: 60px;
      .content {
        padding: 20px;
        .tit {
          font-size: 22px;
          margin-bottom: 20px;
        }
        .lead {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .box {
        .column02 {
          width: 90%;
        }
        .txt01 {
          font-size: 18px;
          padding: 10px;
          box-sizing: border-box;
        }
        .txt02 {
          font-size: 18px;
        }
        .txt03 {
          font-size: 14px;
        }
        .txt04 {
          font-size: 16px;
          line-height: 1.6;
        }
        .column02 {
          li {
            width: 100%;
          }
          li:last-child {
            width: 100%;
          }
        }
      }
      .column02.list {
        margin-top: 40px;
        li {
          width: 100%;
        }
        li:nth-child(2n) {
          margin-right: auto;
        }
        .name {
          font-size: 18px;
          margin: 10px 0 20px;
          span {
            font-size: 14px;
          }
        }
      }
    } //child
    .park {
      text-align: left;
      margin-bottom: 60px;
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .texts {
        margin: 0 auto 20px;
        .min {
          float: right;
          font-size: 16px;
          .garamond {
            font-size: 26px;
          }
          .num {
            font-size: 50px;
          }
        }
        .name {
          float: left;
          font-size: 22px;
          padding-top: 20px;
        }
      }
      .lead {
        font-size: 14px;
      }
      .column02 {
        li {
          width: 100%;
          margin-bottom: 10px;
        }
        li:last-child {
          width: 100%;
          .image {
            display: inline-block;
            width: 49%;
          }
        }
        .bottom {
          margin-bottom: 0;
        }
      }
    } //park
    .life-info {
      margin-bottom: 40px;
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .map {
        margin-bottom: 60px;
      }
      .list {
        margin: 20px auto;
        li {
          width: 100%;
          margin-bottom: 10px;
          &.pc {
            display: none;
          }
        }
        li:last-child {
          margin-right: auto;
        }
      }
    } //life-info
  } //sp
}
