@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

.location02 {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }
  .location-link {
    color: #000;
  }
  main {
    color: #3e3a39;
    font-family: "RyuminPro", serif;
    line-height: 1;
    background: url(../images/common/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  sup {
    font-size: 10px;
    vertical-align: super;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }

  .main-visual {
    position: relative;
    border: none;
    margin-bottom: 100px;
    .caps {
      text-align: right;
      margin: 10px 10px 0 0;
      font-size: 11px;
    }
  }
  .sections {
    .tit-img {
      max-width: 500px;
      margin: 0 auto 40px;
    }
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48.5%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 31%;
        margin-right: 2%;
        margin-bottom: 30px;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
    .caps {
      text-align: right;
      font-size: 10px;
      line-height: 1.4;
      margin-top: 10px;
    }
  } //sections
  .intro {
    text-align: center;
    position: relative;
    z-index: 1;
    .inner {
      max-width: 1200px;
    }
    .tit {
      font-size: 34px;
      line-height: 2;
      letter-spacing: 0.12em;
      margin-bottom: 30px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 60px;
    }
  } //intro
  .shops {
    text-align: center;
    margin-bottom: 100px;
    .column02 {
      text-align: left;
      margin-bottom: 80px;
      .sub {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
      .name {
        font-size: 40px;
        margin-bottom: 10px;
      }
      .lead {
        font-size: 18px;
        line-height: 1.8;
        margin-bottom: 10px;
      }
      &.list01 {
        li {
          width: 35%;
        }
        li:last-child {
          width: 62%;
        }
      }
      &.list02 {
        li {
          width: 62%;
        }
        li:last-child {
          width: 34%;
        }
      }
      &.list03 {
        li {
          width: 37%;
        }
        li:last-child {
          width: 60%;
        }
      }
    }
    .bg {
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      padding: 10px;
      box-sizing: border-box;
    }
    .box {
      border: 1px solid #a9976d;
      padding: 30px;
      box-sizing: border-box;
      .column02 {
        margin-bottom: 0;
      }
      .txt01 {
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .txt02 {
        font-size: 20px;
        line-height: 2;
        margin-bottom: 10px;
      }
    }
  } //shops
  .gourmet {
    text-align: center;
    background: rgba(146, 156, 162, 0.4);
    padding: 80px 0;
    margin-bottom: 100px;
    .sub {
      font-size: 24px;
      letter-spacing: 0.2em;
      margin-bottom: 20px;
      color: #675952;
    }
    .tit {
      font-size: 34px;
      line-height: 2;
      margin-bottom: 20px;
    }
    .column02 {
      li {
        margin-bottom: 20px;
      }
      .texts {
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        box-sizing: border-box;
        color: #fff;
        .name {
          font-size: 24px;
          line-height: 1.4;
          span {
            font-size: 16px;
          }
        }
        .info {
          font-size: 16px;
        }
      }
    }
    .mini {
      text-align: left;
      font-size: 12px;
      line-height: 1.4;
    }
  } //gourmet
  .life-info {
    text-align: center;
    .sub {
      font-size: 24px;
      letter-spacing: 0.2em;
      margin-bottom: 20px;
      color: #675952;
    }
    .tit {
      font-size: 34px;
      line-height: 2;
      margin-bottom: 20px;
    }
    .map {
      margin-bottom: 40px;
    }
  } //life-info

  @media screen and (max-width: 1287px) {
  } //1287px

  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }
    // main {
    //   background: none;
    // }
    .main-visual {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .sections {
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column02
      .column03 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column03
    } //sections
    .intro {
      text-align: left;
      margin-bottom: 0;
      .tit {
        font-size: 22px;
        margin-bottom: 10px;
      }
      .lead {
        text-align: left;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 20px;
      }
    } //intro

    .shops {
      text-align: center;
      margin-bottom: 60px;
      .column02 {
        margin-bottom: 40px;
        .sub {
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 10px;
        }
        .name {
          font-size: 30px;
          margin-bottom: 10px;
        }
        .lead {
          font-size: 14px;
          line-height: 1.8;
          margin-bottom: 0;
          vertical-align: top;
          display: inline-block;
          width: 52%;
          margin-right: 2%;
        }
        .img01 {
          display: inline-block;
          width: 44%;
        }
        .img02 {
          margin-bottom: 10px;
        }
        &.list01 {
          li {
            width: 100%;
          }
          li:last-child {
            width: 100%;
          }
        }
        &.list02 {
          li {
            width: 100%;
          }
          li:last-child {
            width: 100%;
          }
        }
        &.list03 {
          li {
            width: 100%;
          }
          li:last-child {
            width: 100%;
          }
        }
      }
      .box {
        padding: 20px 10px;
        .column02 {
          margin-bottom: auto;
          li {
            margin-bottom: auto;
          }
        }
        .list {
          margin-top: 20px;
          li {
            display: inline-block;
            width: 48%;
            margin-right: 2%;
          }
          li:last-child {
            margin-right: auto;
          }
        }
        .txt01 {
          text-align: left;
          font-size: 22px;
          margin-bottom: 10px;
        }
        .txt02 {
          text-align: left;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    } //shops
    .gourmet {
      padding: 40px 0;
      margin-bottom: 60px;
      .sub {
        font-size: 22px;
      }
      .tit {
        text-align: left;
        font-size: 24px;
      }
      .column02 {
        li {
          margin-bottom: 20px;
        }
        .texts {
          text-align: left;
          position: inherit;
          background: none;
          padding: 10px 0;
          color: #000;
          .name {
            font-size: 22px;
            line-height: 1.1;
            margin-bottom: 10px;
            span {
              font-size: 14px;
            }
          }
          .info {
            font-size: 16px;
            line-height: 1.6;
          }
        }
      }
    } //gourmet
    .life-info {
      .sub {
        font-size: 22px;
      }
      .tit {
        text-align: left;
        font-size: 24px;
      }
    .leaflet-top{
      bottom: 25px;
    }
    } //life-info
  } //sp
}
