@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.structure02 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
      &.bt {
        bottom: -20px;
      }
    }
    .text {
      font-size: 19px;
      line-height: 1.6;
    }
    .caps {
      font-size: 15px;
      line-height: 1.2;
    }
  } //sections
  .sec01 {
    margin-top: 80px;
    .image {
      position: relative;
    }
    .lists {
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.half{
          width: 48%;
          &.half01{
            margin-right: auto;
          }
        }
        &.double{
          width: 66%;
        }
        &:last-child {
          margin-right: auto;
        }
      }
    }
    .list01 {
      margin-bottom: 40px;
      .image{
        margin-bottom: 40px;
        &.wid75{
          width: 75%;
          margin: 0 auto 40px;
        }
      }
    }
    .list02 {
      margin-bottom: 40px;
      li:nth-child(3n),li:last-child{
        margin-right: auto;
      }
      .image{
        margin-bottom: 40px;
        &.wid75{
          width: 75%;
          margin: 0 auto 40px;
        }
      }
      .lead-box{
        display: flex;
        .lead{
          width: 35%;
          &.lead01{
            width: 65%;
          }
        }
        .image{
          float: right;
          width: 60%;
          margin: 0 auto;
          &.img01{
            width: 30%;
          }
        }
      }
    }
  } //sec01
  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .text {
        font-size: 17px;
      }
      .caps {
        font-size: 13px;
      }
      .image img{
        width: 100%;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        margin-bottom: 20px;
        li {
          width: 100%;
          display: block;
          margin-bottom: 30px;
          &.half,&.double{
            width: 100%;
          }
        }
      }
      .list02 {
        .lead-box {
          display: block;
          .image {
            width: 100%;
            float: none;
            &.img01{
              width: 100%;
            }
          }
          .lead {
            width: 100%;
            float: none;
            margin-bottom: 10px;
            &.lead01{
              width: 100%;
            }
          }
        }
      }
    } //sec01
    main {
      padding-bottom: 50px;
    }
  } //sp
}
