@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.structure01 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
      margin: 30px auto;
      &.wid50{
        width: 50%;
      }
      &.wid75{
        width: 75%;
      }
    }
    .annotation {
      font-size: 10px;
      text-align: right;
      &.left{
        right: 60%
      }
    }
    .text {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.6;
    }
    .caps {
      font-size: 1.1rem;
      line-height: 1.6;
    }
  } //sections
  .sec01 {
    margin-top: 80px;
    .lists {
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.half{
          width: 48%;
          &.half01{
            margin-right: auto;
          }
        }
        &.double{
          width: 66%;
          .image{
            margin: 10px auto;
          }
        }
        &.full{
          width: 100%;
        }
      }
      .lead-box{
        display: flex;
        .lead{
          width: 55%;
        }
        .image{
          float: right;
          width: 40%;
          margin: 0 auto;
        }
      }
    }
    .list01{
      li:nth-child(2) .image, li:nth-child(4) .image{
        margin: 0 auto;
      }
    }
    .list02{
      margin-bottom: 60px;
      li:last-child{
        margin-right: auto;
      }
    }
    .list03 {
      margin-bottom: 60px;
      li {
        &:nth-child(2){
          margin-right: auto;
        }
      }
    }
  } //sec01
  .sec02 {
    .lists {
      margin-bottom: 40px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.half{
          width: 48%;
          &.half01{
            margin-right: auto;
          }
        }
        &.double{
          width: 66%;
        }
        &.full{
          width: 100%;
        }
        &:nth-child(2n){
          margin-right: auto;
        }
      }
    }
    .box {
      font-size: 13px;
      line-height: 1.3;
      border: 1px solid;
      padding: 10px;
      box-sizing: border-box;
    }
  } //sec02
  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
    .sec01 {
      .list06 {
        li {
          width: 100%;
          margin-right: 1%;
          .tit-img {
            width: 100%;
            &.pc {
              display: none;
            }
            &.tb {
              display: block;
            }
          }
          .image {
            width: 60%;
            margin: auto;
          }
        }
        li:nth-child(2),
        li:nth-child(4) {
          margin-right: auto;
        }
        li:last-child {
          margin-right: auto;
        }
      }
    } //sec01
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .image{
        margin: 10px auto 30px;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        li {
          width:100%;
          display: block;
          &.half,&.double{
            width: 100%;
          }
        }
      }
      .list01 {
        li {
          width: 100%;
          &:nth-child(2) {
            width: 100%;
          }
          &:nth-child(5) {
            width: 100%;
            .image {
              max-width: 300px;
              margin: auto;
            }
          }
        }
        li:last-child {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .list02 {
        margin-bottom: 40px;
      }
      .list03 {
        margin-bottom: 0;
        li {
          margin-bottom: 40px;
        }
      }
    } //sec01
    .sec02 {
      .lists {
        margin-bottom: 40px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          &.half,&.double{
            width: 100%;
          }
        }
        li:last-child {
          margin-bottom: auto;
        }
        &.list03 li:first-child .image{
          padding-bottom: 15px;
        }
      }
    } //sec02
    main {
      padding-bottom: 50px;
    }
  } //sp
}
