@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.structure03 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    .lists {
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        &.full{
          width: 100%;
        }
        &.double{
          width: 66%;
        }
        &.half{
          width: 48%;
        }
      }
    }
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
      &.right01{
        right: 51%;
      }
    }
    .tit01 {
      font-size: 21px;
      letter-spacing: 0.12em;
      background: #b9a277;
      color: #fff;
      padding: 6px 0 6px 16px;
      margin-bottom: 30px;
    }
    .text {
      font-size: 19px;
      line-height: 1.6;
    }
    .caps {
      font-size: 15px;
      line-height: 1.2;
    }
    .mini {
      margin-top: 6px;
      font-size: 11px;
      line-height: 1.6;
    }
  } //sections
  .sec01 {
    margin-top: 80px;
    .image {
      position: relative;
      margin-bottom: 10px;
    }
   .list00, .list01 {
      margin-bottom: 40px;
    }
    .list00 {
      .lead{
        width: 35%;
        float:left;
      }
      .image{
        width: 60%;
        float: right;
      }
    }
    .list01 {
      li:nth-child(2n){
        margin-right: auto;
      }
      li:first-child .lead{
        margin-bottom: 20px;
      }
    }
    .list02 {
      margin-bottom: 55px;
      li:nth-child(3){
        float: right;
      }
      li:last-child {
        margin-right: auto;
        .lead{
          margin-bottom: 20px;
        }
      }
    }
    .list03 {
      margin-top: 30px;
      li {
        width: 32%;
        margin-right: 1%;
      }
      li:last-child {
        margin-right: auto;
      }
      .annotation {
        bottom: -20px;
      }
      li:nth-child(3n), li:last-child {
        vertical-align: bottom;
        padding-bottom: 15px;
      }
    }
  } //sec01
  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .lists{
        li{
          width: 100%;
          margin-bottom: 40px;
        &.double{
          width: 100%;
        }
        &.half{
          width: 100%;
        }
      }
      }
      .lead {
        span {
          font-size: 13px;
        }
      }
      .text {
        font-size: 17px;
      }
      .caps {
        font-size: 13px;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        li {
          display: block;
          margin-bottom: 40px;
        }
      }
      .list00{
        margin-bottom: 55px;
        .lead,.image{
          width: 100%;
          float: none;
        }
      }
      .list01 {
        margin-bottom: 55px;
        li:first-child {
          width: 100%;
          .lead{
            margin-bottom: 40px;
          }
        }
      }
      .list02 {
        li {
          width: 100%;
          margin-right: auto;
          margin-bottom: 40px;
        }
        li:nth-child(3) {
          margin-bottom: 0;
          .lead{
            margin-bottom: 40px;
          }
        }
        li:last-child {
          margin-right: auto;
        }
      }
      .list03 {
        li {
          width: 100%;
          margin-right: auto;
          padding-bottom: 30px;
        }
        .annotation {
          bottom: -15px;
        }
      }
      .list05 {
        margin-bottom: 40px;
        li {
          width: 100%;
          margin-right: auto;
          margin-bottom: 40px;
        }
        li:last-child {
          margin-bottom: auto;
        }
        .img06 {
          width: 100%;
          margin: auto;
        }
        .annotation {
          bottom: -10%;
          &.left {
            left: 35%;
          }
        }
      }
    } //sec01
    main {
      padding-bottom: 50px;
    }
  } //sp
}
